In [1]:
import pandas as pd

In [2]:
df_original = pd.read_csv('edu_all.csv')
df_reviwed = pd.read_csv('edu_all_fixed.csv')
df_final = pd.read_csv('edu_all_processed_FINAL.csv')

In [3]:
def normalize_spaces(dataframe, column):
    patterns  =['\n', '\r', '\r\n', r'\s+']
    for pattern in patterns:
        dataframe[column] = dataframe[column].str.replace(pattern, ' ', regex=True)
    dataframe[column] = dataframe[column].str.strip()
    return dataframe

In [4]:
def normalize_quotes(dataframe, column):
    """Remove consecutive quotation marks and replace with single quotes"""
    # Replace multiple consecutive double quotes with single double quote
    dataframe[column] = dataframe[column].str.replace(r'"+', '"', regex=True)
    # Replace multiple consecutive single quotes with single quote
    dataframe[column] = dataframe[column].str.replace(r"'+", "'", regex=True)
    return dataframe

In [5]:
df_original = normalize_spaces(df_original, 'source_article')
df_reviwed = normalize_spaces(df_reviwed, 'source_article')
df_final = normalize_spaces(df_final, 'source_article')

In [6]:
# Apply quote normalization to all dataframes
df_original = normalize_quotes(df_original, 'source_article')
df_reviwed = normalize_quotes(df_reviwed, 'source_article')
df_final = normalize_quotes(df_final, 'source_article')

In [7]:
df_original.drop_duplicates(['source_article'], inplace=True, ignore_index=True)
df_reviwed.drop_duplicates(['source_article'], inplace=True, ignore_index=True)
df_final.drop_duplicates(['source_article'], inplace=True, ignore_index=True)

In [8]:
df_original.to_csv('edu_all_processed.csv', index=False)
df_reviwed.to_csv('edu_all_fixed_processed.csv', index=False)
df_final.to_csv('edu_all_processed_FINAL.csv', index=False)